<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                
                <h1>Mobile Application Development Services</h1>
                <h5>I am a consultant who specializes in mobile application development. I would be glad to help you. Send me an email or call me here:</h5>
                <h3>+1 757-572-2668</h3>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/android.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
